<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Coordenador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/coordenadorLogin.css}" />
</head>
<body>

<div id="voltar">
    <a href="../index.html">
        <img th:src="@{/images/setaVoltar.svg}" id="setaVoltar" alt="Seta Voltar">
    </a>
</div>
<div class="container">
    <div class="container" id="login">
        <div id="inicio">
            <p>Área do Coordenador</p>
            <h1>Login</h1>
        </div>

        <!-- Bloco para exibir mensagens de erro, se existirem -->
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>

        <form id="forms" action="#" th:action="@{/coordenadores/validate}"
              th:object="${coordenador}" th:method="POST">
            <p>Email:</p>

            <input class="inputText" type="text" th:field="*{email}"
                   placeholder="Insira seu email" required>

            <p>Senha:</p>

            <input class="inputText" type="text" th:field="*{senha}"
                   placeholder="Insira sua senha" required>

            <div>
                <button id="button" type="submit">Avançar</button>
            </div>

        </form>
    </div>
</div>
</body>
</html>