@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#login{
    width: 1100px;
    height: 750px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.835);
    background-color: rgba(255, 255, 255, 0.01);
    margin-bottom: 10%;
}

#inicio p{
    text-align: center;
    font-size: 20px;
    color: black;
}

#inicio h1{
    text-align: center;
    color: black;
}

#forms{
    width: 350px;
    color: black;
}

#forms p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 3px;
    font-size: 20px;
}

.inputText{
    width: 350px;
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    padding: 3px 8px;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.835);
    color: black;
}

#button{
    width: 150px;
    height: 50px;
    display: inline-flex;
    line-height: 50px;
    border: none;
    text-align: center;
    background-color: #1C3D5A;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 17px;
    align-items: center;
    justify-content: center;
}

#button:hover{
    background-color: rgb(28, 61, 90, 0.9);
}

#buttonCenter{
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#cadastro {
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: 15px;
    color: black;
}

#linkCadastro{
    text-decoration: underline;
    color: black;

}
#voltar {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 120px;
    margin-left: 3%;
    padding-top: 1.5%;
    cursor: pointer;
}

#setaVoltar{
    cursor: pointer;
}

#logo{
    margin-bottom: 25px;
}