<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Aluno</title>
    <link rel="stylesheet" href="alunoLogin.css">
</head>
<body>
<div id="voltar">
    <a href="index.html">
        <img src="images/setaVoltar.svg" id="setaVoltar">
    </a>
</div>
<div class="container">
    <div class="container" id="login">
        <div id="inicio">
            <p>Área do Aluno</p>
            <h1>Login</h1>
        </div>
        <form id="forms">
            <p>Email:</p>
            <input class="inputText" type="email" placeholder="Insira seu email" required>
            <p>Senha:</p>
            <input class="inputText" type="password" placeholder="Insira sua senha" required>
        </form>
        <div>
            <button id="button" type="button" onclick="validarFormulario()">Avançar</button>
        </div>
        <div id="cadastro">
            <a>Para se cadastrar</a>
            <a id="linkCadastro" href="alunoCadastro.html">clique aqui!</a>
        </div>
    </div>
</div>

<script>
    function validarFormulario() {
        const form = document.getElementById('forms');

        if (form.checkValidity()) {
            window.location.href = "";
        } else {
            form.reportValidity();
        }
    }
</script>

</body>
</html>