<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTech</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="container" id="principal">
    <div id="logo">
        <img src="images/logo.svg">
    </div>
    <div id="Login">
        <h1 id="textLogin">
            Escolha como <br>
            deseja fazer login
        </h1>
        <div id="buttonDiv">
            <a href="professor.html" class="button" id="buttonProfessor">Professor</a><br>
            <a href="aluno.html" class="button" id="buttonAluno" >Aluno</a>
            <a href="diretor.html" class="button" id="buttonDiretor">Secretaria</a>
        </div>
    </div>
</div>
</body>
</html>