<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Professor</title>
    <link rel="stylesheet" href="professorLogin.css">
</head>
<body>

<div id="voltar">
    <a href="index.html">
        <img src="images/setaVoltar.svg" id="setaVoltar">
    </a>
</div>
<div class="container">
    <div class="container" id="login">
        <div id="inicio">
            <p>Área do Professor</p>
            <h1>Login</h1>
        </div>
        <div id="forms">
            <p>Email:</p>
            <input class="inputText" type="text" placeholder="Insira seu nome">
            <p>Senha:</p>
            <input class="inputText" type="text" placeholder="Insira sua senha">

        </div>
        <div id="button">
            <a href="">Avançar</a>
        </div>
    </div>
</div>
</body>
</html>